<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!--<include resource="org/springframework/boot/logging/logback/base.xml"/>-->
	<!--<include resource="org/springframework/boot/logging/logback/defaults.xml" />-->
	<!-- logger name="com.finastra.monitoring" level="DEBUG"/-->
	<!-- logger name="org.springframework.security" level="DEBUG"/-->
	<appender name="jsonstdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<timestamp>
					<timeZone>UTC</timeZone>
					<Pattern>[UNIX_TIMESTAMP_AS_NUMBER]</Pattern>
					<FieldName>Timestamp</FieldName>
				</timestamp>
				<pattern>
					<pattern>
						{
						"SeverityText": "%level",
						"Attributes": {
						"log.type": "app"
						},
						"Resource": {
						"thread": "%thread",
						"class": "%logger{40}"
						},
						"TraceId": "%mdc{traceId}",
						"SpanId": "%mdc{spanId}",
						"Body": "%message"
						}
					</pattern>
				</pattern>
				<stackTrace>
					<throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
						<maxDepthPerThrowable>30</maxDepthPerThrowable>
						<maxLength>2048</maxLength>
						<shortenedClassNameLength>20</shortenedClassNameLength>
						<rootCauseFirst>true</rootCauseFirst>
					</throwableConverter>
				</stackTrace>
			</providers>
		</encoder>
	</appender>
	<root level="info">
		<appender-ref ref="jsonstdout" />
	</root>
</configuration>
